[Unit]
Description=Alexandria Great Books
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/tg/alexandria
ExecStart=/usr/bin/just up
ExecStop=/usr/bin/just down
ExecReload=/usr/bin/just update
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
